@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Seguros Centralizado</h1>
    <p class="lead">Sistema de gestión de las pólizas que se administran en diferentes agencias a lo largo del país.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Esta sección permite la gestión de la pólizas de cada uno de los clientes inscritos en el Sistema. Aqui podrá crear y asignar una póliza, editarla, borrarla o cancelarla.</p>
        <p>Nota: Recuerde que las pólizas con tipo de riesgo alto solo pueden tener coberturas menos al 50%</p>
    </div>
    <div class="col-md-4">
        <h2>Tipos Pólizas</h2>
        <p>Se presentan los tipos de pólizas existentes en el sistema. Permite la edición de sus atributos como el tipo de riesgo.</p>
    </div>
    <div class="col-md-4" style="display:none" >
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>